/* -------- LAYOUT -------- */
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

@media (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

.mt-2 {
  margin-top: 20px;
}
.mt-4 {
  margin-top: 40px;
}